<article class="post-card {{post_class}}">
 <a href="{{url}}">
<header class="masthead2" style="background-image: url({{img_url feature_image}})">
     <div class="overlay2"></div>
<section class="hero is-transparent is-fullheight">
  <div class="hero-body">
    <div class="container">
<div class="columns is-centered">


<div class="column is-half has-text-centered">
<br>

<p class="has-text-centered subtitle has-text-white"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><span class="time-ago">{{date published_at timeago="true"}}</span><span style="display: none;" class="normal-time">{{date format="DD MMMM YYYY"}}</span></time></p>
<h1 class="title is-1 has-text-white"><a class="has-text-white"><a href="{{url}}" class="has-text-white">{{title}}</a></h1>


</div>


</div>
    </div>
  </div>
</section>

</header>
</a>
</article>